apiVersion: v1
     kind: Service
     metadata:
       name: admin
       namespace: {{ .Release.Namespace }}
     spec:
       selector:
         app: admin
       ports:
       - protocol: TCP
         port: {{ .Values.admin.port }}
         targetPort: {{ .Values.admin.port }}
         nodePort: {{ add .Values.admin.port 20000 }}
       type: NodePort