<h2>Vet Information</h2>

<table class="table table-striped">
    <tr>
        <th class="col-sm-3">Name</th>
        <td><b>{{$ctrl.vet.firstName}} {{$ctrl.vet.lastName}}</b></td>
        <td>
            <form action="/submit-form">
                <label for="subscribe">Verfügbar</label>
                <input type="checkbox" id="subscribe" name="subscribe"  ng-model="$ctrl.subscribe">
                <!-- <input type="submit" value="Submit"> -->
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <label>Veterinarian</label>
                <select class="form-control" ng-model="$ctrl.selectedVetId" required>
                    <option ng-repeat="vet in $ctrl.vetList" value="{{vet.id}}">{{vet.firstName}} {{vet.lastName}}</option>
                </select>
            </div>

            <a ui-sref="vetNew({vetId: $ctrl.vet.id})" class="btn btn-default" ng-click="$ctrl.saveSubscription()">Choose substitute</a>
        </td>

    </tr>
</table>



