# Authorization Server credentials
AUTH_SERVER_USERNAME=petclinic
AUTH_SERVER_PASSWORD=change-me
AUTH_SERVER_CLIENT_SECRET=change-me

# Config Server native repository
GIT_REPO=/path/to/spring-petclinic-microservices-config
