# /chart/values.yaml
replicas: 2

image:
  repository: hzeroxium/spring-petclinic-customers-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

env: []
# Example override:
# env:
#   - name: SPRING_PROFILES_ACTIVE
#     value: dev

livenessProbe:
  path: /actuator/health
  port: 8080
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  path: /actuator/health
  port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
