<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define custom log file location -->
    <property name="LOG_FILE" value="target/logs/spring.log"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Required for Loglevel management in Spring Petclinic Admin Server -->
    <jmxConfigurator/>

</configuration>
