<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" href="/" title="home page">
                        <span class="fa fa-home"></span>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link" ui-sref-active="active" ui-sref="owners" title="find owners">
                        <span class="fa fa-search"></span>
                        <span>Find owners</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link" ui-sref-active="active" ui-sref="ownerNew" title="register owner">
                        <span class="fa fa-plus"></span>
                        <span>Register owner</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link" ui-sref-active="active" ui-sref="vets" title="veterinarians">
                        <span class="fa fa-th-list"></span>
                        <span>Veterinarians</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>



