apiVersion: v1
kind: Service
metadata:
  name: config-server
  labels:
    app: config-server
spec:
  ports:
    - name: http
      port: 8888
      targetPort: 8888
  selector:
    app: config-server
  type: ClusterIP